<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SYMediaPlayerView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F276A2331D75639D00CC4875</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F276A24C1D75639D00CC4875</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F276A2571D75639D00CC4875</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
